.hero {
    background-size: 400% 400%;
    animation: 15s ease infinite;
    min-height: 60vh;
    padding: 50px 0;
    width: 100%;
    background-image: url("https://images.pexels.com/photos/2080960/pexels-photo-2080960.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-size: 600% 100%;
    
}
@keyframes gradient {
    0% {background-position: 0%}
    100% {background-position: 100%}
}
