.hero {
    background-size: 400% 400%;
    animation: 15s ease infinite;
    min-height: 60vh;
    padding: 50px 0;
    width: 100%;
    background-image: url("https://images.pexels.com/photos/326311/pexels-photo-326311.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: 600% 100%;
    
}
@keyframes gradient {
    0% {background-position: 0%}
    100% {background-position: 100%}
}
